/* Il existe plusieurs polices pré-chargées et souvent "web safe", c'est à dire compatible quelque soit le navigateur, qu'il suffit de nommer comme ci-dessus pour en faire usage.
Voici une liste non exhaustive de polices pré-chargées :
    - Arial
    - Verdana
    - Helvetica
    - Tahoma
    - Trebuchet MS 
    - Times New Roman
    - Georgia
    - Garamond
    - Courier New
    - ... */


/* Il existe 3 moyens de changer de police d'écriture :
    - Utiliser une police pré-chargée (cf.ci-dessus)
    - Faire appel à une police distante
    - importer une police en local */

/* Pour faire appel à une police distante, il existe 3 procédés :
    1. Utiliser la balise link (à privilégier)
    2. Utiliser la propriété @import
    3. Utiliser la propriété @font-face
     */

/* 1. Changer de police via la balise link */
/* Rendez-vous sur Google font pour récupérer la police : https://fonts.google.com/ */
/* Après avoir récupéré la police... */
/* Rendez-vous dans la balise "head" du html pour ajouter le link */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*****priviligier le link dans le html (a place aver le link style.css) que l'@import*****/

header, footer{
    font-family: Lobster;
}


/* 3. Changer de police via la propriété @import */
/* NB : @import peut être utilisée en local ou via un serveur distant */
/* Importer une police en local */
/* Rendez-vous sur https://www.dafont.com/fr/ */
/* Télécharger le(s) fichier(s) nécessaires */
/* Créer un dossier "fonts" dans le projet
Coller les fichier dans le dossier
Procéder à l'import comme suit : */

@font-face {
    font-family: 'Lovebird Free';
    src: url(../polices/Lovebird\ Free.otf);
}

#div1, #div2 {
    font-family: 'Lovebird Free';
}

/* pour sortir de sont dossier dans le chemin, c'est "../"  */

* {
    font-size: 1.1em;
}
