

/*************************/
    /* Style général  */
/*************************/


a {
    color: white;
}

h1, h2 {
    margin-top: 0px;
}

cite {
    font-style: italic;
    font-weight: initial;
    color: black;
}

span {
    font-weight: bold;
    font-style: initial;
}

em {
    font-style: italic;
    font-weight: initial;
}

strong {
    font-weight: bold;
}



/*************************/
/* Header et le Footer  */
/*************************/



header,footer {
    background-color: black;
    padding: 10px;
    color: white;
}


/*************************/
   /****** Main ********/
/*************************/


    /***** DIV 1 *******/ 
/**** Mon films préféré *****/


#div1 {
    background-color: green;
    padding: 10px;
}

.acteurs-majeurs {
    font-weight: bold;
}



    /***** DIV 2 *******/ 
      /**** TOP 5 *****/


#div2 {
    background-color: cyan;
    padding: 10px;
}

.ex-aequo {
    font-weight: bold;
}

ol>li {
    font-style: italic;
}

ol>li>ul>li{
    font-style: initial;
}

ol>li>ul>:first-child {
    color: red;
}

ol>li>ul>:last-child {
   color: purple;
}











