/*****************************/
/* Sélecteurs de balises */
/*****************************/

/*
Intérêt : 
avec un sélecteur de balises, je peux appliquer une mise en forme commune à toutes les balises du même nom.

Limites : 
Je ne peux pas appliquer un style à une balise en particulier. Toutes les balises du même nom sont impactées.

*/

/* Ici, je sélectionne toutes les div de la page. */
div {
    background-color: green;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 3px solid;
}

p {
    background-color: orange;
}


/*****************************/
/* Le sélecteurs universelle */
/*****************************/


/*
Intérêt : 
- Reset les propriété par défault du navigateur
- dans un vrai reset css il y a plus de valeur par défault a retirer */


* {
    margin: 0;
    padding: 0;
}





/*****************************/
/* Sélecteurs de classes */
/*****************************/


/*
Intérêt : 
- Je peux attribuer une même classe à différents éléments HTML qu'ils aient ou non le même nom de balise.
- La classe est prioritaire sur le nom de balise.


/* NB : Règles d'écriture pour un nom de classe
- Le nom d'une classe ne peut pas commencer par un chiffre (ex: ne jamais écrire 1maclasse).
- Le nom d'une classe est sensible à la casse (case sensitive), ce qui signifie que les lettres en majuscules ne correspond pas à leur équivalent minuscule (ex: "maclasse" est différent de "maClasse").
- Le nom d'une classe peut s'écrire avec :
    - des lettres majuscules
    - des lettres minuscules
    - des underscores "_"
    - des tirets "-"
- le nom de la classe dans le css doit être écrit exactement de la même façon que dans le code html */


/* Ici, je sélectionne les éléments ayant la classe "maDiv" */
.maDiv {
    background-color: purple;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 3px solid;
}


/*****************************/
/* Sélecteur d'id */
/*****************************/

/*
Intérêts : 
L'id est prioritaire sur la classe.

Limites : 
Un "id" est unique, donc la mise en forme d'une sélection via l'id ne peut être appliquée que sur un élément.

*/

#div5 {
    background-color: blue;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 3px solid;
}


/*********************************************/
/* Sélecteur via la hiérarchie (le chemin) */
/*********************************************/

/*
    Pour sélectionne un élément via la hiérarchie, il faut indiquer le chemin pour accéder à cet élément.
*/

/* J'applique une couleur de texte rouge à tous les paragraphes inclus dans une div. */
div p {
  color: red;  
}

/* J'applique un style aux paragraphes qui se trouvent dans une div, qui elle même se trouve dans un articlen qui se trouve dans une section */
section article div p {
    background-color: cyan;
}


/*****************************/
/* Autres modes de sélection */
/*****************************/

/*****************************/
/* Les pseudo-classes */
/*****************************/
/* Une pseudo-classe est un mot-clé que l'on ajoute à un sélecteur pour indiquer un état spécifique dans lequel l'élément doit être ciblé. */

/* fist-child cible le prémier élément cité de son part. Ici, nous appliquons la ise en forme suivante sur les spans premiers enfants de leur parent. */
span:first-child {
    font-size: 30px;
}

/* cible l'enfant située à la position indiquée dans les parenthèses au sein de la fraterie */
span:nth-child(3) {
    font-size: 90px;
}

/* cible le dernier enfant */
span:last-child {
    font-size: 60px;
}


/* Comment cibler p1 ? */
/* section article div p:first-child {
    font-size: 50px;
    color: pink;
}

section article div p:nth-child(2) {
    font-size: 50px;
    color: black;
}

section article div p:last-child {
    font-size: 50px;
    color: brown;
} */



/*****************************/
/* Grouper les style ensemble */
/*****************************/

/* Pour grouper plusieurs les style ensemble, il faut les écrires à la suite et les séparé par une virgule sinon ça fait une hierachie */


/* pour ecrire un commentaire (CTRL + :) */

header, footer {
    background-color: brown;
}

main {
    background-color: beige;
    height: 100px;
}

/*footer {
    background-color: brown;
}*/


/*****************************/
/* Les enfant directs */
/*****************************/


.newsection {
    background-color: white;
    border: 6px solid;
}

.newsection article {
    border: 4px solid red;
    margin: 10px;
}

.newsection div {
    color: black;
    background-color: white;
    border: 2px solid blue;
}



.newsection div p {
    background-color: white;
}

/* cible les article enfant ou petits-enfants de section  */
section article {
    background-color: violet;
}

/* Cibler seulement les enfants direct de section (pas les petit enfant)  grace au cheveron (>) dans le noms de balise */
section>article {
    background-color: cyan;
}




/* Découverte des propriétés : 

text-align
line-height
letter-spacing
text-indent
white-space
wword-wrap
text-shadow
padding
margin
border
list-style
height
width

*/


