// Boucles (loops)

// 1 : boucle @each

@each $cle, $val in $colors {
    .btn-#{$cle} {
        color: white;
        background-color: $val;
        border: none;
        &:hover{
            background-color: lighten($color: $val, $amount: 10);
        }
    }
    .btn-#{$cle}-outlined{
        border: 1px solid $val;
        background-color: white;
        color: $val;
        &:hover{
            background-color: $val;
            color:white;
            transition: all ease 0.3s;
        }
    }
}
.btn {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius / 4;
    margin: $base-margin;
}


// ===================================
// déclaration d'un mixin
// @mixin btn($bg-color, $color, $border) {
//     text-decoration: none;
//     cursor: pointer;
//     display: inline-block;
//     padding: $base-padding $base-padding * 2;
//     border-radius: $base-border-radius / 4;
//     margin: $base-margin;
//     background-color: $bg-color;
//     color: $color;
//     border: $border;
// }


// .btn-primary {
//     @include btn($primary, white, none); // inclusion du mixin
   
// }

// .btn-primary-outlined {
//     @include btn(white, $primary, 1px solid $primary); // inclusion du mixin
    
// }