@use 'sass:math';
.card{
    display: block;
    padding: $base-padding;
    border : $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius / 4;
    // border-radius: math.div($base-border-radius, 4);
    // nested rule
    // selecteur d'enfants (directes ou indirecteurs)
    .card-title{
        font-size: $base-font-size;
        padding-bottom: $base-padding;
        font-weight: bold;
    }
    // selecteur d'enfants directes
    // "> a" ou "& > a"
    & > a{
        color: cyan;
        text-decoration: none;
        font-size: 30px;
    }
    .card-body{
        font-size: $base-font-size;
        a{
            text-decoration: underline;
        }
    }


    &:hover{
        background-color: hsl(0, 0%, 70%);
    }
}


// // selecteur descendant
// .card .card-title{

// }
// // selecteur enfant directe
// .card > .card-title{

// }

