$peach : #ed4d4d;
$grey : #d0cfd0;
$white : #fffeff;

@mixin flex ($justify, $direction, $align){
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
}