$main-color: #1C2532;
$base-border : 1px solid white;
$base-border-radius: 5px;
$base-font-size: 1.2rem;
$bg-btn: #117856;
$base-color-txt : white;
$base-transition: all ease 0.5s;
$width-container: 500px;
$margin-container: 2rem auto;