* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

header {
    height: 60px;
    background-color: #2d3e50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase ;
}

h4 {
    margin: 0 0 0 10px;
    font-weight: 300;
}

ul {
    list-style: none;
    display: flex;
    font-size: 12px;
}

li {
    margin: 0 10px;
}

main {
    display: flex;
    flex-direction: column;
}

main div:first-child {
    background-color: #18bb9c;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #2d3e50;
}

main div:last-child {
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.portofolio img {
    margin: 0 5px 5px 5px;
}

section {
    height: 500px;
    background-color: #18bb9c;
    display: flex;
    flex-direction: column;
}

.a_propos {
    color: white;
    align-self: center;
}

section>div {
    width: 50%;
    height: 40%;
    display: flex;
}

.div1 {
    display: flex;
    justify-content: space-between;
}

section p {
    color: white;
    font-size: 13px;
}

section h3 {
    color: #2d3e50
}

