// @for $i from 1 through 4 {
//     .col-#{$i}{
//         // width: #{$i*25%};
//         @include col (10, #{$i*25%})
//     }
// }

@mixin col ($max){
    @for $i from 1 through $max {
        .col-#{$i}{
            width: (100% / $max) * $i;
        }
    }
}

@include col (4);

////////////////////////////////////////////////

// @each $cle, $val in $list {
//     .fruit-#{$cle}{
//         width: 50%;
//     }
// }

@mixin fruits ($list){
    @each $cle, $val in $list {
        .fruit-#{$cle}{
            width: 50%;
        }
    }
}

@include fruits ($fruits);


.premier-fruit-#{nth($fruits, 1)}{
    color:yellow;
}

.dernier-fruit-#{nth($fruits, -1)}{
    color:forestgreen;
}


///////////////////////////////////////////////

@mixin villes ($list,$selecteur){
    @each $cle, $val in $list {
        .ville-#{$cle}::#{$selecteur}{
            display: block;
            content: $cle;
        }
    }
}

@include villes ($villes, before);