// $font-size : 1.3em;

// $lightBlue : #9bc9de;
// $darkBlue : #097ab8;

$fruits : 'banane', 'cerise', 'ananas', 'pomme';

$fruits2 : 'bananes', 'cerises', 'ananas', 'pommes';

$villes : 'Tokyo', 'Paris', 'New-York', 'Toronto', 'Madrid';

$villes2 : 'Tokyo2', 'Paris2', 'New-York2', 'Toronto2', 'Madrid2';