// --------- 1ere façon pour importer ---------
// @import './partials/variables', './partials/cards'; //chemin relative du fichier sans le _ et sans l'extension

// --------- 2eme façon pour importer ---------
@import './partials/variables';
@import './partials/button';
@import './partials/cards'; //chemin relative du fichier sans le _ et sans l'extension


h1 {
    color: $error;
    font-size: $font-size-xxl;
}

// ------------- récupération d'une valeur depuis un map -----------
p {
    color: map-get($map: $colors, $key: 'purple');
}




// ------------- utilisation d'une liste ---------------
// nth($langages, 1) => 'javascript'
.section-#{nth($langages, 1)}{
    color:yellow;
}   
// nth($langages, 1) => python  
.section-#{nth($langages, -1)}{
    color:yellow;
}

// ---------------- héritage --------------------
h2{
    color: $primary;
    padding: 10px ;
    font-size: 1rem;
}

p{
    font-size: 2rem;
    @extend h2;
   
    border: 1px solid black;
    border-radius: 5px;
}


@each $cle, $val in $colors {

    // 1ere itération : $cle : primary , $val:#326dee , $i: 1 jusqua 5
    // .txt-primary-light-1{
    .txt-#{$cle} {
        color: $val;
    }

    .txt-hover-#{$cle} {
        &:hover {
            color: lighten($color: $val, $amount: 10);
        }
    }

    // il faut éliminer les variations light du white et les variations dark du black
    @if($cle !='white') {
        @for $i from 1 through 5 {
            .txt-#{$cle}-light-#{$i} {
                color: lighten($color: $val, $amount: $i * 5);
            }
        }
    }


    @if($cle !='black') {
        @for $i from 1 through 5 {
            .txt-#{$cle}-dark-#{$i} {
                color: darken($color: $val, $amount: $i * 5);
            }
        }
    }

}








// .txt-[couleur]-light-[facteur] (1 à 5)
// .txt-primary-light-1 #326dee + 5
// .txt-primary-light-2 #326dee + 10
// .txt-primary-light-3 #326dee + 15
// .txt-primary-light-4 #326dee + 20
// .txt-primary-light-5 #326dee + 25