.btn-primary {
  color: white;
  background-color: #326dee;
  border: none;
}
.btn-primary:hover {
  background-color: #618ff2;
}

.btn-primary-outlined {
  border: 1px solid #326dee;
  background-color: white;
  color: #326dee;
}
.btn-primary-outlined:hover {
  background-color: #326dee;
  color: white;
  transition: all ease 0.3s;
}

.btn-secondary {
  color: white;
  background-color: #9FA6B2;
  border: none;
}
.btn-secondary:hover {
  background-color: #bbc0c9;
}

.btn-secondary-outlined {
  border: 1px solid #9FA6B2;
  background-color: white;
  color: #9FA6B2;
}
.btn-secondary-outlined:hover {
  background-color: #9FA6B2;
  color: white;
  transition: all ease 0.3s;
}

.btn-error {
  color: white;
  background-color: #d32752;
  border: none;
}
.btn-error:hover {
  background-color: #de4f73;
}

.btn-error-outlined {
  border: 1px solid #d32752;
  background-color: white;
  color: #d32752;
}
.btn-error-outlined:hover {
  background-color: #d32752;
  color: white;
  transition: all ease 0.3s;
}

.btn-info {
  color: white;
  background-color: #5bc0de;
  border: none;
}
.btn-info:hover {
  background-color: #85d0e7;
}

.btn-info-outlined {
  border: 1px solid #5bc0de;
  background-color: white;
  color: #5bc0de;
}
.btn-info-outlined:hover {
  background-color: #5bc0de;
  color: white;
  transition: all ease 0.3s;
}

.btn-blue {
  color: white;
  background-color: #1919e6;
  border: none;
}
.btn-blue:hover {
  background-color: #4747eb;
}

.btn-blue-outlined {
  border: 1px solid #1919e6;
  background-color: white;
  color: #1919e6;
}
.btn-blue-outlined:hover {
  background-color: #1919e6;
  color: white;
  transition: all ease 0.3s;
}

.btn-red {
  color: white;
  background-color: #e61919;
  border: none;
}
.btn-red:hover {
  background-color: #eb4747;
}

.btn-red-outlined {
  border: 1px solid #e61919;
  background-color: white;
  color: #e61919;
}
.btn-red-outlined:hover {
  background-color: #e61919;
  color: white;
  transition: all ease 0.3s;
}

.btn-yellow {
  color: white;
  background-color: #e6e619;
  border: none;
}
.btn-yellow:hover {
  background-color: #ebeb47;
}

.btn-yellow-outlined {
  border: 1px solid #e6e619;
  background-color: white;
  color: #e6e619;
}
.btn-yellow-outlined:hover {
  background-color: #e6e619;
  color: white;
  transition: all ease 0.3s;
}

.btn-green {
  color: white;
  background-color: #19e635;
  border: none;
}
.btn-green:hover {
  background-color: #47eb5d;
}

.btn-green-outlined {
  border: 1px solid #19e635;
  background-color: white;
  color: #19e635;
}
.btn-green-outlined:hover {
  background-color: #19e635;
  color: white;
  transition: all ease 0.3s;
}

.btn-orange {
  color: white;
  background-color: #ffa600;
  border: none;
}
.btn-orange:hover {
  background-color: #ffb833;
}

.btn-orange-outlined {
  border: 1px solid #ffa600;
  background-color: white;
  color: #ffa600;
}
.btn-orange-outlined:hover {
  background-color: #ffa600;
  color: white;
  transition: all ease 0.3s;
}

.btn-purple {
  color: white;
  background-color: #9900ff;
  border: none;
}
.btn-purple:hover {
  background-color: #ad33ff;
}

.btn-purple-outlined {
  border: 1px solid #9900ff;
  background-color: white;
  color: #9900ff;
}
.btn-purple-outlined:hover {
  background-color: #9900ff;
  color: white;
  transition: all ease 0.3s;
}

.btn-gray {
  color: white;
  background-color: #808080;
  border: none;
}
.btn-gray:hover {
  background-color: #9a9a9a;
}

.btn-gray-outlined {
  border: 1px solid #808080;
  background-color: white;
  color: #808080;
}
.btn-gray-outlined:hover {
  background-color: #808080;
  color: white;
  transition: all ease 0.3s;
}

.btn-black {
  color: white;
  background-color: black;
  border: none;
}
.btn-black:hover {
  background-color: #1a1a1a;
}

.btn-black-outlined {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.btn-black-outlined:hover {
  background-color: black;
  color: white;
  transition: all ease 0.3s;
}

.btn-white {
  color: white;
  background-color: white;
  border: none;
}
.btn-white:hover {
  background-color: white;
}

.btn-white-outlined {
  border: 1px solid white;
  background-color: white;
  color: white;
}
.btn-white-outlined:hover {
  background-color: white;
  color: white;
  transition: all ease 0.3s;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  margin: 0.75rem;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card > a {
  color: cyan;
  text-decoration: none;
  font-size: 30px;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}
.card:hover {
  background-color: hsl(0deg, 0%, 70%);
}

h1 {
  color: #d32752;
  font-size: 3rem;
}

p {
  color: #9900ff;
}

.section-javascript {
  color: yellow;
}

.section-python {
  color: yellow;
}

h2, p {
  color: #326dee;
  padding: 10px;
  font-size: 1rem;
}

p {
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}

.txt-primary {
  color: #326dee;
}

.txt-hover-primary:hover {
  color: #618ff2;
}

.txt-primary-light-1 {
  color: #4a7ef0;
}

.txt-primary-light-2 {
  color: #618ff2;
}

.txt-primary-light-3 {
  color: #799ff4;
}

.txt-primary-light-4 {
  color: #90b0f6;
}

.txt-primary-light-5 {
  color: #a8c1f8;
}

.txt-primary-dark-1 {
  color: #1a5cec;
}

.txt-primary-dark-2 {
  color: #1251db;
}

.txt-primary-dark-3 {
  color: #1048c3;
}

.txt-primary-dark-4 {
  color: #0e40ac;
}

.txt-primary-dark-5 {
  color: #0c3794;
}

.txt-secondary {
  color: #9FA6B2;
}

.txt-hover-secondary:hover {
  color: #bbc0c9;
}

.txt-secondary-light-1 {
  color: #adb3bd;
}

.txt-secondary-light-2 {
  color: #bbc0c9;
}

.txt-secondary-light-3 {
  color: #c9cdd4;
}

.txt-secondary-light-4 {
  color: #d8dadf;
}

.txt-secondary-light-5 {
  color: #e6e8eb;
}

.txt-secondary-dark-1 {
  color: #9199a7;
}

.txt-secondary-dark-2 {
  color: #838c9b;
}

.txt-secondary-dark-3 {
  color: #757f90;
}

.txt-secondary-dark-4 {
  color: #697282;
}

.txt-secondary-dark-5 {
  color: #5d6674;
}

.txt-error {
  color: #d32752;
}

.txt-hover-error:hover {
  color: #de4f73;
}

.txt-error-light-1 {
  color: #da3961;
}

.txt-error-light-2 {
  color: #de4f73;
}

.txt-error-light-3 {
  color: #e26484;
}

.txt-error-light-4 {
  color: #e67a95;
}

.txt-error-light-5 {
  color: #ea8fa6;
}

.txt-error-dark-1 {
  color: #bd234a;
}

.txt-error-dark-2 {
  color: #a81f41;
}

.txt-error-dark-3 {
  color: #921b39;
}

.txt-error-dark-4 {
  color: #7d1731;
}

.txt-error-dark-5 {
  color: #671328;
}

.txt-info {
  color: #5bc0de;
}

.txt-hover-info:hover {
  color: #85d0e7;
}

.txt-info-light-1 {
  color: #70c8e2;
}

.txt-info-light-2 {
  color: #85d0e7;
}

.txt-info-light-3 {
  color: #9bd8eb;
}

.txt-info-light-4 {
  color: #b0e1ef;
}

.txt-info-light-5 {
  color: #c5e9f3;
}

.txt-info-dark-1 {
  color: #46b8da;
}

.txt-info-dark-2 {
  color: #31b0d5;
}

.txt-info-dark-3 {
  color: #28a1c5;
}

.txt-info-dark-4 {
  color: #2390b0;
}

.txt-info-dark-5 {
  color: #1f7e9a;
}

.txt-blue {
  color: #1919e6;
}

.txt-hover-blue:hover {
  color: #4747eb;
}

.txt-blue-light-1 {
  color: #3030e9;
}

.txt-blue-light-2 {
  color: #4747eb;
}

.txt-blue-light-3 {
  color: #5e5eee;
}

.txt-blue-light-4 {
  color: #7575f0;
}

.txt-blue-light-5 {
  color: #8c8cf3;
}

.txt-blue-dark-1 {
  color: #1717cf;
}

.txt-blue-dark-2 {
  color: #1414b8;
}

.txt-blue-dark-3 {
  color: #1212a1;
}

.txt-blue-dark-4 {
  color: #0f0f8a;
}

.txt-blue-dark-5 {
  color: #0d0d73;
}

.txt-red {
  color: #e61919;
}

.txt-hover-red:hover {
  color: #eb4747;
}

.txt-red-light-1 {
  color: #e93030;
}

.txt-red-light-2 {
  color: #eb4747;
}

.txt-red-light-3 {
  color: #ee5e5e;
}

.txt-red-light-4 {
  color: #f07575;
}

.txt-red-light-5 {
  color: #f38c8c;
}

.txt-red-dark-1 {
  color: #cf1717;
}

.txt-red-dark-2 {
  color: #b81414;
}

.txt-red-dark-3 {
  color: #a11212;
}

.txt-red-dark-4 {
  color: #8a0f0f;
}

.txt-red-dark-5 {
  color: #730d0d;
}

.txt-yellow {
  color: #e6e619;
}

.txt-hover-yellow:hover {
  color: #ebeb47;
}

.txt-yellow-light-1 {
  color: #e9e930;
}

.txt-yellow-light-2 {
  color: #ebeb47;
}

.txt-yellow-light-3 {
  color: #eeee5e;
}

.txt-yellow-light-4 {
  color: #f0f075;
}

.txt-yellow-light-5 {
  color: #f3f38c;
}

.txt-yellow-dark-1 {
  color: #cfcf17;
}

.txt-yellow-dark-2 {
  color: #b8b814;
}

.txt-yellow-dark-3 {
  color: #a1a112;
}

.txt-yellow-dark-4 {
  color: #8a8a0f;
}

.txt-yellow-dark-5 {
  color: #73730d;
}

.txt-green {
  color: #19e635;
}

.txt-hover-green:hover {
  color: #47eb5d;
}

.txt-green-light-1 {
  color: #30e949;
}

.txt-green-light-2 {
  color: #47eb5d;
}

.txt-green-light-3 {
  color: #5eee72;
}

.txt-green-light-4 {
  color: #75f086;
}

.txt-green-light-5 {
  color: #8cf39a;
}

.txt-green-dark-1 {
  color: #17cf30;
}

.txt-green-dark-2 {
  color: #14b82a;
}

.txt-green-dark-3 {
  color: #12a125;
}

.txt-green-dark-4 {
  color: #0f8a20;
}

.txt-green-dark-5 {
  color: #0d731b;
}

.txt-orange {
  color: #ffa600;
}

.txt-hover-orange:hover {
  color: #ffb833;
}

.txt-orange-light-1 {
  color: #ffaf1a;
}

.txt-orange-light-2 {
  color: #ffb833;
}

.txt-orange-light-3 {
  color: #ffc14d;
}

.txt-orange-light-4 {
  color: #ffca66;
}

.txt-orange-light-5 {
  color: #ffd380;
}

.txt-orange-dark-1 {
  color: #e69500;
}

.txt-orange-dark-2 {
  color: #cc8500;
}

.txt-orange-dark-3 {
  color: #b37400;
}

.txt-orange-dark-4 {
  color: #996400;
}

.txt-orange-dark-5 {
  color: #805300;
}

.txt-purple {
  color: #9900ff;
}

.txt-hover-purple:hover {
  color: #ad33ff;
}

.txt-purple-light-1 {
  color: #a31aff;
}

.txt-purple-light-2 {
  color: #ad33ff;
}

.txt-purple-light-3 {
  color: #b84dff;
}

.txt-purple-light-4 {
  color: #c266ff;
}

.txt-purple-light-5 {
  color: #cc80ff;
}

.txt-purple-dark-1 {
  color: #8a00e6;
}

.txt-purple-dark-2 {
  color: #7a00cc;
}

.txt-purple-dark-3 {
  color: #6b00b3;
}

.txt-purple-dark-4 {
  color: #5c0099;
}

.txt-purple-dark-5 {
  color: #4d0080;
}

.txt-gray {
  color: #808080;
}

.txt-hover-gray:hover {
  color: #9a9a9a;
}

.txt-gray-light-1 {
  color: #8d8d8d;
}

.txt-gray-light-2 {
  color: #9a9a9a;
}

.txt-gray-light-3 {
  color: #a6a6a6;
}

.txt-gray-light-4 {
  color: #b3b3b3;
}

.txt-gray-light-5 {
  color: silver;
}

.txt-gray-dark-1 {
  color: #737373;
}

.txt-gray-dark-2 {
  color: #676767;
}

.txt-gray-dark-3 {
  color: #5a5a5a;
}

.txt-gray-dark-4 {
  color: #4d4d4d;
}

.txt-gray-dark-5 {
  color: #404040;
}

.txt-black {
  color: black;
}

.txt-hover-black:hover {
  color: #1a1a1a;
}

.txt-black-light-1 {
  color: #0d0d0d;
}

.txt-black-light-2 {
  color: #1a1a1a;
}

.txt-black-light-3 {
  color: #262626;
}

.txt-black-light-4 {
  color: #333333;
}

.txt-black-light-5 {
  color: #404040;
}

.txt-white {
  color: white;
}

.txt-hover-white:hover {
  color: white;
}

.txt-white-dark-1 {
  color: #f2f2f2;
}

.txt-white-dark-2 {
  color: #e6e6e6;
}

.txt-white-dark-3 {
  color: #d9d9d9;
}

.txt-white-dark-4 {
  color: #cccccc;
}

.txt-white-dark-5 {
  color: #bfbfbf;
}/*# sourceMappingURL=style.css.map */