@import './partials/variables';
@import './partials/buttons';
@import './partials/animations';

html,body {
    padding: 0;
    margin: 0;
}

* {
    background-color: $bgColor;
    padding: 3px;
    margin: 10px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

    // border: 1px black solid;
}

header {
    @include flex (space-between, row, center);
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 1;
    // background-color: $beigeDark;
    div {
        @include flex (space-between, row, center);
        img {
            width: 100px;
        }
    }
}

ul {
    list-style-type: none;
    @include flex (space-between, row, center);
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: $peach;
        font-weight: bolder;
    }
}

/////////////////////////

main {
    @include flex (space-around,column,center);
    margin-top: 150px
}


#sub>form {
    @include flex (center, column, center);
    width: 400px;
    #email {
        width: 100%;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        border-color: $peach;
    }
}

/////////////////////////

#info {
    width: 80%;
    div {
        @include flex (space-between, row, center);
        ion-icon {
            width: 10%;
            font-size: 100px;
            color: $peach;
        };
        h3 {
            font-weight: bold;
            font-size: 1.3em;
        }
        div {
            @include flex (center, column, flex-start);
            width: 90%;
        };
    }

}


section {
    width: 850px;
    @include flex (center, row, center);
    height : 450px;
    margin: 50px 0 50px 0;
}

iframe {
    width: 100%;
    height: 100%;
}

/////////////////////////

#price {
    @include flex (space-between, row, center);
    width: 80%;
    div {
        width: 30%;
        background-color: $beige;
        padding: 0;
        @include flex (space-around, column, center);
        border-radius: 15px;
        border: 1px solid $peach;
        h3 {
            background-color: $beigeDark;
            margin: 0 0 10px 0;
            width: 100%;
            text-align: center;
            font-size: 1.7em;
            border-radius: 15px 15px 0 0;
        }
        h6 {
            font-size: 1.5em;
            background: none;
        }
        p {
            text-align: center;
            background: none;
        }
    }
}

/////////////////////////

footer {
    @include flex (center, column, flex-end);
    background-color: $beigeDark;
    margin: 0;
    ul,li,a {
        background: none;
    }
    p {
        opacity: 50%;
        background: none;
    }
}




/////////////////////////////////


@media (max-width : 950px){

    header {
        
        div {
            // position: relative;
            // top: 20px;
            margin: 0;
            height: 50px;
            img {
                width: 70px;
            }
            h1 {
                font-size: 1.5em;
            }
        }
        nav {
            margin: 0;
            ul {
                height: 50px;
                margin: 0;
            }
        }
    }

    #price {
        @include flex (space-between, column, center);
        div {
            width: 80%;
        }
    }

    header {
        @include flex (center, column, center);
    }

    section {
        width: 90%;
    }

}

@media (max-width : 600px){

    section {
        height: 300px;
        width: 100%;
    }

    ion-icon {
        display: none;
    }

    #info {
        @include flex (space-between, column, center);
        div {
            width: 100%;
            div {
                @include flex (space-between, column, center);
                margin: 0;
                width: 100%;
                p {
                    text-align: center;
                }
            }
        }
    }

    footer {
        ul,p {
            margin: 3px;
        }
        p {
            position: relative;
            bottom: 7px;
        }
    }

}

@media (max-width : 450px){

    header {
        height: 150px;
    }

    nav{
        width: 100%;
        ul{
            @include flex (space-between, column, center);
            width: 100%;
            li{
                font-size: 0.8em;
                margin: 0;
            }
        }
    }

    h3 {
        text-align: center;
    }

    form {
        padding: 0 40px 0 40px;
    }
    #submit {
        text-size-adjust: 35%;
    }

    #price {
        width: 100%;
    }

}

/// 