@import './partials/variables';
@import './partials/boucles';
@import './partials/animations';
@import './partials/media';

html {
    padding: 0;
    margin: 0;
}

* {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    user-select: none;

    // border: 1px black solid;
}

body {
    @include flex (center, row, center);

    background: linear-gradient(90deg, rgba(231,230,120,1) 0%, rgba(65,52,53,1) 100%);
}

h2 {
    font-size: 4em;
    font-weight: initial;

}

p{
    text-align: center;
    user-select: none;
}

main {
    @include flex (space-around, row, center);
    box-shadow: black 0 0 30px;
    margin-top: 50px;


    background: linear-gradient(90deg, rgba(208,207,208,1) 0%, rgba(208,207,208,1) 50%, rgba(255,254,255,1) 50%, rgba(255,254,255,1) 100%);
    width: 70%;

    height: 700px;

    >div {
        height: 100%;
        @include flex (space-between, column, center);
    }
    .player {
        width: 38%;
    }
    #control{
        @include flex (space-between, column, center);
        #newGame, #rollDice, #hold{
            @include flex (space-between, row, center);
        }
        div{
            @include flex (space-between, column, center);
            margin: 0;
            padding: 20px 0 20px 0;
            ion-icon {
                font-size: 2em;
                color: $peach;
                margin: 0;
            }
            p{
                width: 70%;
                margin: 0;
            }
        }
    }
}

.finalScore {
    color: $peach;
    font-size: 5em;
}

.current {
    background-color: $peach;
    width: 60%;
    padding: 0;

    @include flex (center, column, center);

    h6 {
        font-size: 1.5em;
        font-weight: initial;
        margin: 0;
    }
    p {
        color: white;
        font-size: 1.5em;
        margin: 0;
    }
}

.setPlayer {
    font-size: 2em;
    color: $peach;
    position: relative;
    bottom: 225px;
}

#setPlayer1 {
    left: 300px;
}

#setPlayer2 {
    right: 50px;
}

img {
    width: 150px;
    padding: 0;
    margin: 0;
    box-shadow: black 0 0 30px;
}

