.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card > a {
  color: cyan;
  text-decoration: none;
  font-size: 30px;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}
.card:hover {
  background-color: hsl(0deg, 0%, 70%);
}

.btn-primary {
  color: #326dee;
}

.btn-primary-outlined {
  color: #326dee;
}

.txt-primary {
  color: #326dee;
}
.txt-primary:hover {
  color: black;
}

.text-primary-light-1 {
  color: #618ff2;
}

.text-primary-light-2 {
  color: #90b0f6;
}

.text-primary-light-3 {
  color: #bfd2fa;
}

.text-primary-light-4 {
  color: #eef3fe;
}

.text-primary-light-5 {
  color: white;
}

.text-primary-light-1 {
  color: #1251db;
}

.text-primary-light-2 {
  color: #0e40ac;
}

.text-primary-light-3 {
  color: #0a2e7d;
}

.text-primary-light-4 {
  color: #061d4e;
}

.text-primary-light-5 {
  color: #030b1e;
}

.btn-secondary {
  color: #9FA6B2;
}

.btn-secondary-outlined {
  color: #9FA6B2;
}

.txt-secondary {
  color: #9FA6B2;
}
.txt-secondary:hover {
  color: black;
}

.text-secondary-light-1 {
  color: #bbc0c9;
}

.text-secondary-light-2 {
  color: #d8dadf;
}

.text-secondary-light-3 {
  color: #f4f5f6;
}

.text-secondary-light-4 {
  color: white;
}

.text-secondary-light-5 {
  color: white;
}

.text-secondary-light-1 {
  color: #838c9b;
}

.text-secondary-light-2 {
  color: #697282;
}

.text-secondary-light-3 {
  color: #525966;
}

.text-secondary-light-4 {
  color: #3b414a;
}

.text-secondary-light-5 {
  color: #24282e;
}

.btn-error {
  color: #d32752;
}

.btn-error-outlined {
  color: #d32752;
}

.txt-error {
  color: #d32752;
}
.txt-error:hover {
  color: black;
}

.text-error-light-1 {
  color: #de4f73;
}

.text-error-light-2 {
  color: #e67a95;
}

.text-error-light-3 {
  color: #eea5b7;
}

.text-error-light-4 {
  color: #f6d0d9;
}

.text-error-light-5 {
  color: #fefbfc;
}

.text-error-light-1 {
  color: #a81f41;
}

.text-error-light-2 {
  color: #7d1731;
}

.text-error-light-3 {
  color: #520f20;
}

.text-error-light-4 {
  color: #27070f;
}

.text-error-light-5 {
  color: black;
}

.btn-info {
  color: #5bc0de;
}

.btn-info-outlined {
  color: #5bc0de;
}

.txt-info {
  color: #5bc0de;
}
.txt-info:hover {
  color: black;
}

.text-info-light-1 {
  color: #85d0e7;
}

.text-info-light-2 {
  color: #b0e1ef;
}

.text-info-light-3 {
  color: #daf1f8;
}

.text-info-light-4 {
  color: white;
}

.text-info-light-5 {
  color: white;
}

.text-info-light-1 {
  color: #31b0d5;
}

.text-info-light-2 {
  color: #2390b0;
}

.text-info-light-3 {
  color: #1b6d85;
}

.text-info-light-4 {
  color: #124a5b;
}

.text-info-light-5 {
  color: #0a2730;
}

.btn-blue {
  color: #1919e6;
}

.btn-blue-outlined {
  color: #1919e6;
}

.txt-blue {
  color: #1919e6;
}
.txt-blue:hover {
  color: black;
}

.text-blue-light-1 {
  color: #4747eb;
}

.text-blue-light-2 {
  color: #7575f0;
}

.text-blue-light-3 {
  color: #a3a3f5;
}

.text-blue-light-4 {
  color: #d1d1fa;
}

.text-blue-light-5 {
  color: white;
}

.text-blue-light-1 {
  color: #1414b8;
}

.text-blue-light-2 {
  color: #0f0f8a;
}

.text-blue-light-3 {
  color: #0a0a5c;
}

.text-blue-light-4 {
  color: #05052e;
}

.text-blue-light-5 {
  color: black;
}

.btn-red {
  color: #e61919;
}

.btn-red-outlined {
  color: #e61919;
}

.txt-red {
  color: #e61919;
}
.txt-red:hover {
  color: black;
}

.text-red-light-1 {
  color: #eb4747;
}

.text-red-light-2 {
  color: #f07575;
}

.text-red-light-3 {
  color: #f5a3a3;
}

.text-red-light-4 {
  color: #fad1d1;
}

.text-red-light-5 {
  color: white;
}

.text-red-light-1 {
  color: #b81414;
}

.text-red-light-2 {
  color: #8a0f0f;
}

.text-red-light-3 {
  color: #5c0a0a;
}

.text-red-light-4 {
  color: #2e0505;
}

.text-red-light-5 {
  color: black;
}

.btn-yellow {
  color: #e6e619;
}

.btn-yellow-outlined {
  color: #e6e619;
}

.txt-yellow {
  color: #e6e619;
}
.txt-yellow:hover {
  color: black;
}

.text-yellow-light-1 {
  color: #ebeb47;
}

.text-yellow-light-2 {
  color: #f0f075;
}

.text-yellow-light-3 {
  color: #f5f5a3;
}

.text-yellow-light-4 {
  color: #fafad1;
}

.text-yellow-light-5 {
  color: white;
}

.text-yellow-light-1 {
  color: #b8b814;
}

.text-yellow-light-2 {
  color: #8a8a0f;
}

.text-yellow-light-3 {
  color: #5c5c0a;
}

.text-yellow-light-4 {
  color: #2e2e05;
}

.text-yellow-light-5 {
  color: black;
}

.btn-green {
  color: #19e635;
}

.btn-green-outlined {
  color: #19e635;
}

.txt-green {
  color: #19e635;
}
.txt-green:hover {
  color: black;
}

.text-green-light-1 {
  color: #47eb5d;
}

.text-green-light-2 {
  color: #75f086;
}

.text-green-light-3 {
  color: #a3f5ae;
}

.text-green-light-4 {
  color: #d1fad7;
}

.text-green-light-5 {
  color: white;
}

.text-green-light-1 {
  color: #14b82a;
}

.text-green-light-2 {
  color: #0f8a20;
}

.text-green-light-3 {
  color: #0a5c15;
}

.text-green-light-4 {
  color: #052e0b;
}

.text-green-light-5 {
  color: black;
}

.btn-orange {
  color: #ffa600;
}

.btn-orange-outlined {
  color: #ffa600;
}

.txt-orange {
  color: #ffa600;
}
.txt-orange:hover {
  color: black;
}

.text-orange-light-1 {
  color: #ffb833;
}

.text-orange-light-2 {
  color: #ffca66;
}

.text-orange-light-3 {
  color: #ffdb99;
}

.text-orange-light-4 {
  color: #ffedcc;
}

.text-orange-light-5 {
  color: white;
}

.text-orange-light-1 {
  color: #cc8500;
}

.text-orange-light-2 {
  color: #996400;
}

.text-orange-light-3 {
  color: #664200;
}

.text-orange-light-4 {
  color: #332100;
}

.text-orange-light-5 {
  color: black;
}

.btn-purple {
  color: #9900ff;
}

.btn-purple-outlined {
  color: #9900ff;
}

.txt-purple {
  color: #9900ff;
}
.txt-purple:hover {
  color: black;
}

.text-purple-light-1 {
  color: #ad33ff;
}

.text-purple-light-2 {
  color: #c266ff;
}

.text-purple-light-3 {
  color: #d699ff;
}

.text-purple-light-4 {
  color: #ebccff;
}

.text-purple-light-5 {
  color: white;
}

.text-purple-light-1 {
  color: #7a00cc;
}

.text-purple-light-2 {
  color: #5c0099;
}

.text-purple-light-3 {
  color: #3d0066;
}

.text-purple-light-4 {
  color: #1f0033;
}

.text-purple-light-5 {
  color: black;
}

.btn-gray {
  color: #808080;
}

.btn-gray-outlined {
  color: #808080;
}

.txt-gray {
  color: #808080;
}
.txt-gray:hover {
  color: black;
}

.text-gray-light-1 {
  color: #9a9a9a;
}

.text-gray-light-2 {
  color: #b3b3b3;
}

.text-gray-light-3 {
  color: #cdcdcd;
}

.text-gray-light-4 {
  color: #e6e6e6;
}

.text-gray-light-5 {
  color: white;
}

.text-gray-light-1 {
  color: #676767;
}

.text-gray-light-2 {
  color: #4d4d4d;
}

.text-gray-light-3 {
  color: #343434;
}

.text-gray-light-4 {
  color: #1a1a1a;
}

.text-gray-light-5 {
  color: #010101;
}

.btn-black {
  color: black;
}

.btn-black-outlined {
  color: black;
}

.txt-black {
  color: black;
}
.txt-black:hover {
  color: black;
}

.text-black-light-1 {
  color: #1a1a1a;
}

.text-black-light-2 {
  color: #333333;
}

.text-black-light-3 {
  color: #4d4d4d;
}

.text-black-light-4 {
  color: #666666;
}

.text-black-light-5 {
  color: gray;
}

.text-black-light-1 {
  color: black;
}

.text-black-light-2 {
  color: black;
}

.text-black-light-3 {
  color: black;
}

.text-black-light-4 {
  color: black;
}

.text-black-light-5 {
  color: black;
}

.btn-white {
  color: white;
}

.btn-white-outlined {
  color: white;
}

.txt-white {
  color: white;
}
.txt-white:hover {
  color: black;
}

.text-white-light-1 {
  color: white;
}

.text-white-light-2 {
  color: white;
}

.text-white-light-3 {
  color: white;
}

.text-white-light-4 {
  color: white;
}

.text-white-light-5 {
  color: white;
}

.text-white-light-1 {
  color: #e6e6e6;
}

.text-white-light-2 {
  color: #cccccc;
}

.text-white-light-3 {
  color: #b3b3b3;
}

.text-white-light-4 {
  color: #999999;
}

.text-white-light-5 {
  color: gray;
}

h1 {
  color: #d32752;
  font-size: 3rem;
}/*# sourceMappingURL=style.css.map */